<!-- carousel -->
<div class="carousel">
  <div class="contenedor-descripcion" [@esvanecerDesvanecer]="'in'">
    <div clas="titulo-img">
      <h1 class="text-color-primary main-text font-caveat font-size-72 texto-primary-mobile">{{currentSlideObject.titulo}}</h1>
    </div>

    <div class="descripcion-img">
      <p class="font-tenorsans text-color-white font-size-24">{{currentSlideObject.descripcion}}</p>
    </div>
  </div>

  <img
    [src]="currentSlideObject.src"
    class="slide"
    @carouselAnimation
    />

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
