<div class="bg-color-primary d-flex flex-row justify-content-center align-items-center text-center">
  <label class="text-color-white font-size-20">
    {{'CONTACT_US_GREEN_BANNER' | translate}}
    <a class="text-color-white" href="tel:+573008783616">
      {{ 'PRIMARY_PHONE' | translate }}
    </a>
    /
    <a class="text-color-white" href="tel:+573153672699">
      {{ 'SECONDARY_PHONE' | translate }}
    </a>
  </label>
</div>
<div class="header-container h-25 max-height-navbar d-flex flex-row justify-content-around align-items-center">
  <div class="h-100">
    <img src="assets/images/header-navbar/logo.svg" alt="img" class="cursor-pointer" routerLink="/"/>
  </div>
  <div class=" h-100 d-flex flex-wrap flex-row align-item-center justify-content-center align-items-center">
    <label class="text-color-white font-weight-400 m-3 cursor-pointer header-menu-item">{{ 'HOME' | translate }}</label>
    <label class="text-color-white font-weight-400 m-3 cursor-pointer header-menu-item">{{ 'ABOUT_US' | translate }}</label>
    <label class="text-color-white font-weight-400 m-1 cursor-pointer header-menu-item">{{ 'CONTACT_US' | translate }}</label>
  </div>
</div>
