@import "../../../assets/styles/variables";
html,
body {
  background: #1B1C21;
}

.contact-container {
  background-image: url("../../../assets/images/home/img7.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

a.text-color-white {
  text-decoration: none !important;
}

a.text-color-white:hover, a.text-color-white.active {
  color: $primary !important;
  text-decoration: underline !important;
}

.border-top-gray {
  border-top: 1px solid gray;
}

.container-carousel {
  display: block;
  height: 500px;
  width: 100%;
  padding: 2em;
}

@media screen and (max-width: 425px){
  .container-carousel {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2em;
  }
}
