@import "../../../assets/styles/variables";
html,
body {
  background: #1B1C21;
}

.contact-container {
  background-image: url("../../../assets/images/home/img7.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

a.text-color-white {
  text-decoration: none !important;
}

a.text-color-white:hover, a.text-color-white.active {
  color: $primary !important;
  text-decoration: underline !important;
}

.border-top-gray {
  border-top: 1px solid gray;
}

// .carousel-item > img {
//   max-height: 600px;
// }

// main{
//   height: calc(100% - 174px);
//   padding: 50px 20px;
//   display: flex;
//   justify-content: space-between;
//   bordeR: solid blue;
// }

// .contenedor-descripcion{
//   border: solid red;
//   flex-basis: 35%;
// }

// .contenedor-carrusel{
//   display: flex;
//   flex-basis: 65%;
//   align-items: center;
//   justify-content: center;
// }

// #carouselExample{
//   width: 90%;
// }



.container {
  display: block;
  height: 500px;
  width: 100%;
  padding: 2em;
}
